doctype html
html.demo-page(lang="ru")
  head.demo-page__head
    meta.demo-page__meta-charset(charset="UTF-8")
    meta.demo-page__meta-viewport(name="viewport", content="width=device-width, initial-scale=1.0")
    meta.demo-page__meta-keywords(name="keywords" content="JQuery plugin, slider, MVP, TypeScript, education")
    meta.demo-page__meta-description(name="description" content="Slider")
    title.demo-page__head-title pooshkaSlider
    script.demo-page__script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
  body.demo-page__body
    include vars-and-mixins

    main.demo-page__container
      h1.demo-page__title PooshkaSlider Demo
      each slider in sliders
        form.demo-page__form(class=`demo-page__${slider.type}-slider-container js-demo-page__${slider.type}-slider-container`)
          h2.demo-page__subtitle=slider.title
          div(class=`demo-page__${slider.type}-slider-wrapper`)
            div(class=`demo-page__slider js-demo-page__slider js-demo-page__slider_${slider.type}`)

          .demo-page__panel
            .demo-page__panel-toggle-inputs-container
              each toggler in togglers
                +panelToggler(toggler)

            .demo-page__panel-text-inputs-container
              each input in inputs
                +panelInputs(input)
