doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="JQuery plugin, slider, MVP, TypeScript, education")
    meta(name="description" content="Slider")
    title pooshkaSlider
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
  body
    include vars-and-mixins

    main.container
      h1.demo-page-title PooshkaSlider Demo
      each slider in sliders
        div(class=`${slider.type}-slider-container js-${slider.type}-slider-container`)
          h2.subtitle=slider.title
          div(class=`${slider.type}-slider-wrapper`)
            div(class=`slider js-slider js-slider_${slider.type}`)

          .panel
            .panel__toggle-inputs-container
              each toggler in togglers
                +panelToggler(toggler)

            .panel__text-inputs-container
              each input in inputs
                +panelInputs(input)
